.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .filter_container,
  .order_container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .order_container {
    margin-left: auto;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .order_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .order_button:hover,
  .order_button_active {
    opacity: 1;
  }
  